* {
	padding: 0;
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
}

html {
    background-color: #af8a51;
}


h2 {
	font-size: 3em;
}


.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 10em;
}

#shift, #output, #btn, #input{
    outline: none;
	border: none;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1em;
	font-size: 2em;
}

#input, #output {
	padding: 1em;
	border-radius: 1.3em;
}

.buttons {
	grid-template-columns: 2fr 2fr;
	padding: 1em;
}

.buttons #btn, #shift {
	padding: 0.5em;
	border-radius: 1.3em;
	font-size: 0.5em;
}

#btn:active {
	background-color: white;
	box-shadow: 1px 5px 3px black;
	transform: translateY(4px);
}

header ion-icon {
	transform: scale(2);
	color: black;
	padding: 1em;
}

header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	gap: 2em;
}




